{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}

    <div class="container">
        <div class="row align-items-start flex-column flex-lg-row">

            <div class="d-block d-lg-none">
                <h1>{{ product.title }}</h1>
                <h5>{{ product.category.title }}</h5>
                <p>{{ product.price }} €</p>
            </div>

            <div class="col">
                <img src="{{ asset('uploads/pictures/' ~ product.pictureFilename) }}" alt="pic_product">
            </div>

            <div class="col">
                <div class="d-none d-lg-block">
                    <h1>{{ product.title }}</h1>
                    <h5 class="text-muted">{{ product.category.title }}</h5>
                    <p>{{ product.price }} €</p>
                </div>

                <p>{{ product.description }}</p>
            </div>

        </div>
    </div>

{#    <table class="table">#}
{#        <tbody>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ product.id }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Image</th>#}
{#                <td>#}
{#                    <img src="{{ asset('uploads/pictures/' ~ product.pictureFilename) }}" alt="pic_product">#}
{#                </td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Title</th>#}
{#                <td>{{ product.title }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Slug</th>#}
{#                <td>{{ product.slug }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Description</th>#}
{#                <td>{{ product.description }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Price</th>#}
{#                <td>{{ product.price }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>CreatedAt</th>#}
{#                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>UpdatedAt</th>#}
{#                <td>{{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '' }}</td>#}
{#            </tr>#}
{#        </tbody>#}
{#    </table> #}
{% endblock %}
