{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1> {{ title }}</h1>

    <a class="btn btn-primary" href="user/new">New User</a>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('app_user_show', {'id':user.id}) }}">Show</a>
                    <a class="btn-secondary btn" href="{{ path('app_user_edit', {'id':user.id}) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
